# Amazon Sales â€” Data Loading

Objetivo: Carregar os dados brutos e entender sua estrutura inicial.

In [9]:
import  pandas as pd 

df = pd.read_csv('../DB/amazon_sales_data_2025.csv')

df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           250 non-null    object
 1   Date               250 non-null    object
 2   Product            250 non-null    object
 3   Category           250 non-null    object
 4   Price              250 non-null    int64
 5   Quantity           250 non-null    int64
 6   Total Sales        250 non-null    int64
 7   Customer Name      250 non-null    object
 8   Customer Location  250 non-null    object
 9   Payment Method     250 non-null    object
 10  Status             250 non-null    object
dtypes: int64(3), object(8)
memory usage: 21.6+ KB

         Price  Quantity  Total Sales
count   250.00    250.00       250.00
mean    343.58      2.86       975.38
std     380.64      1.43     1,252.11
min      15.00      1.00        15.00
25%      40.00      2.00       100.00
50%     150.00      3.00       400.00
75%     600.00      4.00     1,500.00
max   1,200.00      5.00     6,000.00