# Amazon Sales — Data Cleaning

Neste notebook realizamos a limpeza, padronização e tratamento dos dados.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../DB/amazon_sales_data_2025.csv')

In [4]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.columns

Index(['order_id', 'date', 'product', 'category', 'price', 'quantity',
       'total_sales', 'customer_name', 'customer_location', 'payment_method',
       'status'],
      dtype='object')

In [9]:
df = df.rename(columns={'date': 'order_date'})
df['order_date'] = pd.to_datetime(df['order_date'])

In [10]:
df.isnull().sum()

order_id             0
order_date           0
product              0
category             0
price                0
quantity             0
total_sales          0
customer_name        0
customer_location    0
payment_method       0
status               0
dtype: int64

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df['calculated_sales'] = df['price'] * df['quantity']

(df['total_sales'] != df['calculated_sales']).sum()

np.int64(0)

In [13]:
df = df.rename(columns={'total_sales': 'revenue'})
df.drop(columns='calculated_sales', inplace=True)

In [14]:
df['price'] = df['price'].astype(float)
df['quantity'] = df['quantity'].astype(int)
df['revenue'] = df['revenue'].astype(float)

In [16]:
df.to_csv('../DB/amazon_sales_data_2025.csv', index=False)

In [17]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           250 non-null    object
 1   order_date         250 non-null    datetime64[ns]
 2   product            250 non-null    object
 3   category           250 non-null    object
 4   price              250 non-null    float64
 5   quantity           250 non-null    int64
 6   revenue            250 non-null    float64
 7   customer_name      250 non-null    object
 8   customer_location  250 non-null    object
 9   payment_method     250 non-null    object
 10  status             250 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 21.6+ KB

,order_id,order_date,product,category,price,quantity,revenue,customer_name,customer_location,payment_method,status
0,ORD0001,2025-03-14,Running Shoes,Footwear,60.0,3,180.0,Emma Clark,New York,Debit Card,Cancelled
1,ORD0002,2025-03-20,Headphones,Electronics,100.0,4,400.0,Emily Johnson,San Francisco,Debit Card,Pending
2,ORD0003,2025-02-15,Running Shoes,Footwear,60.0,2,120.0,John Doe,Denver,Amazon Pay,Cancelled
3,ORD0004,2025-02-19,Running Shoes,Footwear,60.0,3,180.0,Olivia Wilson,Dallas,Credit Card,Pending
4,ORD0005,2025-10-03,Smartwatch,Electronics,150.0,3,450.0,Emma Clark,New York,Debit Card,Pending